__pycache__/
*.py[bacalhau]
*$py.class
*.então
.Python
construir/
desenvolver-ovos/
dist/
downloads/
ovos/
.ovos/
biblioteca/
lib64/
partes/
sdist/
var/
rodas/
compartilhar/rodas-python/
*.egg-info/
.instalado.cfg
*.ovo
*.manifesto
*.espec
pip-log.txt
pip-delete-este-diretório.txt
htmlcov/
.tox/
.nox/
.cobertura
.cobertura.*
.cache
nosetests.xml
cobertura.xml
*.cobrir
*.py,capa
.hipótese/
.pytest_cache/
cobrir/
*.mo
*.pote
*.registro
db.sqlite3
db.sqlite3-diário
.webassets-cache
.rascunho
docs/_build/
.pybuilder/
alvo/
.ipynb_pontos de verificação
perfil_padrão/
ipython_config.py
.python-versão
Pipfile.lock
poesia.lock
pdm.lock
.pdm.toml
__pypacotes__/
celerybeat.pid
*.sage.py
.env
.venv
ambiente/
venv/
Ambiente/
env.bak/
venv.bak/
.projeto spyder
.projeto espião
.projeto de corda
/site
.mypy_cache/
.dmypy.json
dmypy.json
.pira/
.pytype/
cython_debug/
.ideia/
poesia.toml
.ruff_cache/
pyrightconfig.json